---
import Card from '@components/Card.astro'
import Olx from '@components/Olx.astro'
import Search from '@components/Search'
import Base from '@layouts/Base.astro'
export const prerender = false

const response = await fetch(import.meta.env.KEY + '/rest/v1/olx', {
  headers: {
    apikey: import.meta.env.ANON,
  },
})
const items = await response.json()
---

<Base
  title={`KMU-group.kz - товары olx: (${items.length})`}
  description="KMU-group.kz - товары olx"
>
  <main class="px-5 mx-auto container my-12">
    <div class="my-12">
      <div class="mb-6 flex gap-2 items-center">
        <Olx />
        <h1 class="shrink-0 font-bold text-3xl">Товаров: ({items.length})</h1>
      </div>
      <Search client:load postsList={items} />
    </div>
    <div class="grid gap-8 grid-cols-1 md:grid-cols-2">
      {
        items
          .sort((a, b) => new Date(b.created_at) - new Date(a.created_at))
          .map((post: any) => <Card post={post} />)
      }
    </div>
  </main>
</Base>
